<!--HEADER-->
<%- include('başlık.ejs', {bot, user, path}) %>
  
  <!-- HEADER -->
  
	<div class="row justify-content-md-center">
	<div align="center"><h2 style="color: #fff;"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Özel Komut Sistemi</h2></div>
  </div>

<div class="row">
    
<div class="col">
    <div class="container">
      

      <br>
      <br>
      <center><a align="center" class="btn btn-success" data-toggle="collapse" style="color: white;" data-target="#yeni">Komut Oluştur</a></center>
        <br>
        <div id="yeni" class="collapse in">
      <form method="post">
        
        
          
          <div class="row">
                    <div class="col">
                        <label style="color: white;" for="komut">Komut</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="komut" name="komut" placeholder="Komutun adını yazın." required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label style="color: white;" for="aciklama">Açıklama</label>
                    </div>
                    <div class="col-75">
                      <textarea class="form-control" id="aciklama" name="aciklama" rows="3" placeholder="Komut kullanıldığında verilecek cevabı yazın." style="margin-top: 0px; margin-bottom: 0px; height: 65px;" required></textarea>
                    </div>
                </div>
         <button style="background-color:blue; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-fw fa-save" aria-hidden="true"></i> Komut Ekle/Düzenle</button>
          </form>
        </div>
        <br>
        <h3 align="center" style="color:#fff">
          Komut Listesi
      </h3>
        <br>
        <%if(bot.cmdd[guild.id]) {%>
        <table class="table table-hover" style="background-color:#222">
            <thead>
                <tr>
                  <th scope="col" style="width: 25%">Komut</th>
                    <th scope="col" style="width: 50%">Açıklama</th>
                    <th scope="col" style="width: 25%"></th>
                </tr>
            </thead>
            <tbody>
                    <%for(var i = 0; i < bot.cmdd[guild.id].length; i++) {%>
              <tr>
                  <th scope="row"><%=Object.keys(bot.cmdd[guild.id][i])%></th>
                  <td><%=bot.cmdd[guild.id][i][Object.keys(bot.cmdd[guild.id][i])]%></td>
                  <td><a class="btn btn-danger" href="/panel/<%=guild.id%>/ozelkomutlar/sil/<%=Object.keys(bot.cmdd[guild.id][i])%>">Komutu Sil</a></td>
                 </tr>
                  <%}%>
            <%} else {%>
                  <h5 align="center" style="color:#fff">
                    Sunucuda hiç özel komut bulunmuyor.
              </h5>
              <%}%>
            </tbody>
        </table>
               
          <div style="width: 100%; text-align: right; margin-top: 15px;">
      <a href="yonet" button style="background-color:orange; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-mail-reply" aria-hidden="true"></i> Geri Dön</button> </a>    </div>

          </div>
    </div></div>
  
</div>


<%- include('footer.ejs', {bot, user, path}) %>