<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('başlık.ejs', {bot, user, path}) %>
<div class="container">

	<div class="row justify-content-md-center">
		<div align="center"><h2 style="color: #fff;"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Giriş Çıkış Sistemi</h2></div>
  </div>
	
  <!--<center><h7 style="color:red">Bakımda...</h7></center>-->
  
	<div class="row">
  <div class="col">
    <div class="container">
      <form method="post">
        <ul class="list-group list-group-flush">
    <center> <h6 style="color: #fff; margin: 5px;">Giriş ve çıkış mesajlarında kullanabileceğiniz bazı kısayollar:<br><br>
    Kullanıcı adı için: <a style="color:lightgreen">-kullanıcı-</a><br>
    Sunucu adı için: <a style="color:lightgreen">-sunucu-</a><br>
    <br>(<a style="color:red">Not:</a> <a style="color:lightgreen">{}</a> işaretleri dahildir!)</li>
</h6></center>
          <div class="row">
        <div class="col-25">
          <label for="hgbb">HG BB Kanalı</label>
        </div>
        <div class="col-75">
          <% if (bot.ayar.has(`gcc_${guild.id}`) === false) { %>
          <select style="text-align: left; width:87%;" name="hgbb" id="hgbb">
            <option disabled selected>Lütfen bir kanal seçiniz.</option>
            <% guild.channels.filter(c => c.type === "text").forEach(c => { %>
            <option value="<%=c.id%>">#<%=c.name%></option>
            <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/hgbb/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
					<% if(bot.ayar.has(`gckanal_${guild.id}`) === true) { %>
          <select style="text-align: left; width:87%;" name="hgbb" id="hgbb">
            <option value="<%=bot.ayar.fetch(`gckanal_${guild.id}`)%>"><%=guild.channels.get(bot.ayar.fetch(`gckanal_${guild.id}`)).name%></option>
					 <% guild.channels.filter(c => c.type === "text").filter(c => c.id !== bot.ayar.fetch(`gckanal_${guild.id}`)).forEach(c => { %>
            <option value="<%=c.id%>">#<%=c.name%></option>
          <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/hgbb/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
        </div>
      </div>
        <div class="row">
        <div class="col-25">
          <label for="gc">Giriş Çıkış Kanalı</label>
        </div>
        <div class="col-75">
          <% if (bot.ayar.has(`gcc_${guild.id}`) === false) { %>
          <select style="text-align: left; width:87%;" name="gc" id="gc">
            <option disabled selected>Lütfen bir kanal seçiniz.</option>
            <% guild.channels.filter(c => c.type === "text").forEach(c => { %>
            <option value="<%=c.id%>">#<%=c.name%></option>
            <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/girisk/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
					<% if(bot.ayar.has(`mesajk_${guild.id}`) === true) { %>
          <select style="text-align: left; width:87%;" name="gc" id="gc">
            <option value="<%=bot.ayar.fetch(`mesajk_${guild.id}`)%>"><%=guild.channels.get(bot.ayar.fetch(`mesajk_${guild.id}`)).name%></option>
					 <% guild.channels.filter(c => c.type === "text").filter(c => c.id !== bot.ayar.fetch(`mesajk_${guild.id}`)).forEach(c => { %>
            <option value="<%=c.id%>">#<%=c.name%></option>
          <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/girisk/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
        </div>
      </div>
        
          <div class="row">
      <div class="col-25">
          <label for="cikisM">Çıkış Mesajı</label>
      </div>
      <div class="col-75">
        <% if (bot.ayar.has(`ozelhosgeldin_${guild.id}`) === false) { %>
        <input type="text" style="text-align: left; width:87%;" name="cikisM" id="cikisM" maxlength="1950" placeholder="Örnek: {sunucu} Adlı sunucuya {kullanıcı} adlı üye katıldı.">
          <a href="/panel/<%=guild.id%>/cikism/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
					<% if(bot.ayar.has(`ozelhosgeldin_${guild.id}`) === true) { %>
        <input type="text" style="text-align: left; width:87%;" name="cikisM" id="cikisM" maxlength="1950" value="<%=bot.ayar.fetch(`cmesaj_${guild.id}`)%>">
          <a href="/panel/<%=guild.id%>/cikism/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
      </div>
    </div>
        
                <div class="row">
      <div class="col-25">
          <label for="girisM">Giriş Mesajı</label>
      </div>
      <div class="col-75">
        <% if (bot.ayar.has(`ozelgorusuruz_${guild.id}`) === false) { %>
        <input type="text" style="text-align: left; width:87%;" name="girisM" id="girisM" maxlength="1950" placeholder="Örnek: {sunucu} Adlı sunucudan {kullanıcı} adlı üye çıkış yaptı.">
          <a href="/panel/<%=guild.id%>/girism/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
					<% if(bot.ayar.has(`ozelgorusuruz_${guild.id}`) === true) { %>
        <input type="text" style="text-align: left; width:87%;" name="girisM" id="girisM" maxlength="1950" value="<%=bot.ayar.fetch(`gmesaj_${guild.id}`)%>">
          <a href="/panel/<%=guild.id%>/girism/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
      </div>
    </div>
    
       
          
          </ul>
          <div style="width: 100%; text-align: right; margin-top: 15px;">
    <button style="background-color:blue; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-fw fa-save" aria-hidden="true"></i> Kaydet</button>
           <a href="yonet" button style="background-color:orange; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-mail-reply" aria-hidden="true"></i> Geri Dön</button> </a>    </div>

      </div>
      </form>
    </div>
  </div>
    
</div>


<script>
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);  
</script>
<%- include('footer.ejs', {bot, user, path}) %>