<!--HEADER-->

<%- include('başlık.ejs', {bot, user, path}) %>

      <style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
        
        
         {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
        


</style>
  <!-- HEADER -->
  
      


      

<div class="row">
		
		<!--<div class="col col-4">
		<%- //include('../blocks/sunucu-card.ejs', {active: "manage", sunucu}) %>
    </div>-->
    
     <div class="col">
            <div class="container">
          
<div class="card-columns" style="padding: 20px; border-radius: 40px;">

  <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/ozelkomutlar" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Özel Komutlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/ozelkomutlar">
						<p class="card-text" href="/panel/<%=sunucu.id%>/ozelkomutlar" style="color:#fff"><center>Sunucunuza özel istediğiniz kadar komut ekleyebileceğiniz bir sistem.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/genel" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Genel Ayarlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/genel">
						<p class="card-text" href="/panel/<%=sunucu.id%>/genel" style="color:#fff"><center>Botun sunucudaki ön-eki/prefixi ayarlanabilir. <br>Susturma rolü ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/giriscikis" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Giriş Çıkış</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/giriscikis">
						<p class="card-text" href="/panel/<%=sunucu.id%>/giriscikis" style="color:#fff"><center>Sunucuya birisi katıldığında ve sunucudan birisi ayrıldığında atılacak mesajlar.<br>Kanal ve mesajlar ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/otorol" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Otomatik Rol</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/otorol">
						<p class="card-text" href="/panel/<%=sunucu.id%>/otorol" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişiye verilecek rol.<br>Rol ve otomatik rol kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/ototag" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Tag</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/ototag">
						<p class="card-text" href="/panel/<%=sunucu.id%>/ototag" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişinin isminin başına eklenecek tag.<br>Tag ve tag kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/sayac" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Sayaç</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/sayac">
						<p class="card-text" href="/panel/<%=sunucu.id%>/sayac" style="color:#fff"><center>Sunucuya birisi katılınca ve sunucudan birisi ayrılınca ayarlanan hedefe kaç kişi kaldığını sayar.<br>Sayaç ve kanal ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/filtre" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Filtreler</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/filtre">
						<p class="card-text" href="/panel/<%=sunucu.id%>/filtre" style="color:#fff"><center>Kelime filtresi, küfür ve link engelleme sistemleri.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/desteksistemi" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Destek Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/desteksistemi">
						<p class="card-text" href="/panel/<%=sunucu.id%>/desteksistemi" style="color:#fff"><center>Geliştirilmiş sunucu içi destek sistemi.<br>Destek kanalı, rolü ve mesajı ayarlanabilir.</center></p>
					</div>
				</div>
  <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=sunucu.id%>/davetsistemi" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Davet Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=sunucu.id%>/davetsistemi">
						<p class="card-text" href="/panel/<%=sunucu.id%>/davetsistemi" style="color:#fff"><center>Sunucuya birisi katıldığında katılan kişiyi davet eden kullanıcıyı ve katıldığı daveti gösterir.<br>Davet Kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>

</div>
  
        
        
      </form>
    </div>  
  </div>
</div> 
      
  
 
  
<%- include('footer.ejs', {bot, user, path}) %>